/* Custom styling for range inputs */
input[type="range"] {
  height: 6px;
  border-radius: 9999px;
  background-color: #334155;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.15);
}
